*{
  margin: 0;
  padding: 0;
}

body {
      margin: 0;
      padding: 0px 30px;
      font-family: Arial, sans-serif;
    }

    .top-bar {
      background-color: #e0e0e0;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 5px 10px;
      height: 35px;
      border-radius: 7px;
    }

    .translate, .search-box {
      display: flex;
      align-items: center;
    }

    .translate select {
      font-size: 12px;
      padding: 3px;
    }

    .translate img {
      height: 15px;
      margin-left: 5px;
    }
    
    .icons {
      display: flex;
      align-items: center;
      gap: 5px;
    }

    .main{
      padding: 0px 30px;
      background-color: #eeeff1;
    }

    .icons img {
      width: 18px;
      height: 18px;
    }
    
    .search-box input[type="text"] {
      height: 20px;
      font-size: 12px;
      padding-left: 5px;
    }

    .search-box button {
      height: 24px;
      font-size: 12px;
      margin-left: 3px;
      background-color: #0078d7;
      color: white;
      border: none;
      padding: 0 10px;
      cursor: pointer;
    }
    
    .sec-bar{
      display: flex;
      align-items: center;
      gap: 15px;
      justify-content: space-between;
    }

    .smith-img{
      width: 50px;
      border-radius: 50px;
    }
    
    .between{
      margin-top: 20px;
    }

    .Smithsonian{
      font-size: 50px;
    }
    
    .sec-two{
      display: flex;
      align-items: center;
    }

    .dona{
      display: flex;
      align-items: center;
      background-color: #a11f1f;
      padding: 5px 9px;
      border-radius: 8px;
      font-size: 13px;
      color: white;
      gap: 7px;
      cursor: pointer;
    }
    .dona-tw{
      display: flex;
      align-items: center;
      background-color: #436333;
      padding: 5px 9px;
      border-radius: 8px;
      font-size: 13px;
      color: white;
      cursor: pointer;
      gap: 7px;
    }
    .dona-th{
      display: flex;
      align-items: center;
      background-color: #50559a;
      padding: 5px 9px;
      border-radius: 8px;
      font-size: 13px;
      color: white;
      cursor: pointer;
      gap: 7px;
    }
    
    .dona-on-img{
      width: 20px;
    }

    .dona-tw-img{
      width: 20px;
    }

    .dona-th-img{
      width: 20px;
    }

    .sec-ch{
      margin-top: 30px;
      display: flex;
      gap: 10px;
    }

    .navbar {
      display: flex;
      background-color: #ffffff;
      border-bottom: 1px solid #ccc;
      padding: 5px 10px;
      justify-content: space-around;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      margin-top: 10px;
    }
    .navbar a {
      padding: 8px 12px;
      text-decoration: none;
      color: #000;
      font-weight: bold;
      font-size: 14px;
      border-right: 1px solid #ccc;
    }
    .navbar a:last-child {
      border-right: none;
    }
    .navbar a:hover {
      background-color: #f0f0f0;
    }
    

    .navbar-two{
      display: flex;
      background-color: #0d6798;
      border-bottom: 1px solid #ccc;
      padding: 5px 10px;
      justify-content: space-around;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }

    .navbar-two a {
      padding: 8px 12px;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      font-size: 14px;
      border-right: 1px solid #a8a8a8;
    }
    .navbar-two a:last-child {
      border-right: none;
    }

    .big-img{
      width: 100%;
      border-radius: 10px;
      margin-top: 10px;
    }

    .six-img{
      display: flex;
      flex-direction: column;
    }

    .six-text{
      font-size: 25px;
      margin-top: 2px;
      text-decoration: none;
    }

    .dott{
      font-size: 40px;
    }

    .width{
    width: 230px; 
    height: 200px;
    border-radius: 10px;
    }

    .main-six{
    display: flex;
    gap: 20px; 
    padding: 15px;
    background-color: white;
    align-items: center; 
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: 6px 0px 15px 5px rgb(199, 198, 198);
    }

    .footer{
      display: flex;
      padding: 15px;
      background-color: white;
      justify-content: space-between;
      border-radius: 10px;
      margin-top: 20px;
      gap: 15px;
      box-shadow: 6px 0px 15px 5px rgb(199, 198, 198);
    }

    .foot-text{
      font-size: 25px;
      font-weight: 500;
    }
    
    .foot-para{
      margin-top: 10px;
      
    }

    .foot-link{
      margin-top: 10px;
      margin-left: 20px;
      color: #426d93;
      font-weight: 900;
    }

    .foot-img{
      margin-top: 20px;
    }

    .foot-two{
      margin-top: 10px;
      margin-left: 15px;
      color: #426d93;
      font-weight: 900;
      font-size: 18px;
    }

    .foot-thre{
      font-size: 20px;
      font-weight: 100 ;
      margin-left: 15px;
    }

    .one-ch{
      font-size: 25px;
      font-weight: 500;
    }

    .foot-one-child{
      display: flex;
      align-items: center;
      gap: 10px ;
      margin-top: 25px;
    }
    
    .foot-one-2-child{
      gap: 10px ;
      margin-top: 27px;
      display: flex;
      align-items: center;
    }

    .one-child-1-para{
      margin-top: 10px;
      color: #426d93;
      font-weight: 900;
      font-size: 14px;
    }

    .one-child-para-2{
      font-size: 14px;
      font-weight: 100  ;
    }

    .foot-four{
      display: flex;
      margin-top: 15px;
    }

    .foot-text-four{
      font-size: 25px;
      font-weight: 500;
    }

    .foot-text-four-2{
      font-size: 15px;
      font-weight: 100  ;
    }

    .foot-text-four-last{
      font-size: 18px;
      margin-top: 22px;
      color: #94a7bd;
    }

    .foot-one{
      border-right: 1px solid black;
    }